[submodule "lib/osm-extract-by-region"]
	path = lib/osm-extract-by-region
	url = https://github.com/svevang/osm-extract-by-region.git
[submodule "lib/osm-bright"]
	path = lib/osm-bright
	url = https://github.com/mapbox/osm-bright.git
[submodule "docs/puerto-rico-map-tiles"]
	path = docs/puerto-rico-map-tiles
	url = https://github.com/svevang/puerto-rico-map-tiles.git
