%h1
  HomeController#home
%p
  Find me in app/views/home_controller/home.html.erb

#map
:javascript
  var map = L.map('map').setView({lon: -66.5, lat: 18.25}, 10);
  var plantas = JSON.parse('#{ (Planta.all.map {|planta| planta.as_json }).to_json}')
  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

  _(plantas).each(function(planta){
     L.marker(planta.location.coordinates.reverse()).addTo(map).bindPopup(planta.aee_nproy);
    });
